@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior-y: none;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;

}

.wrapper {
  overflow: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  color: #F7FFF6;
  transition: all .2s;

  .logo {
    // border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      font-size: $fontsize * 1.5;
      color: #F7FFF6;
      transition: all .2s;

      &:hover {
        color: #BCE784 !important;
      }
    }
  }

  .right-nav {
    width: 50%;
    display: flex;
    align-items: center;
    // border: 1px solid green;

    .nav-links {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      

      li {
        // margin: 20px;
        font-size: $fontsize;
        
        a {
          text-decoration: none;
          text-transform: uppercase;
          transition: all .2s;

          &:hover {
            color: #BCE784 !important;
            font-size: $fontsize * 1.2;
          }
        }
      }
    }
  }
}

.main {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6.5rem;
}

.intro {
  background: #1D6341;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;

  .intro-background {
    background-image: url('./../images/checkingspreadsheet.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
  }

  .intro-group {
    text-align: center;
    position: relative;
    max-width: 600px;
    z-index: 1;
    color: white;

    .intro-logo {
      font-size: $fontsize * 2;
      margin: 0;
      position: relative;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      line-height: .85;
      
      span {
        text-transform: uppercase;
      }
      
      .logo-big-parts {
        font-size: $fontsize * 5;
      }
    }

    p {
      font-size: $fontsize;
    }

    .scroll {
      position: relative;
      bottom: -200px;

      i {
        font-size: 50px;
        color: white;
        transition: all .2s;

        &:hover {
          color: #BCE784;
        }
      }
    }
  }

} // -------- INTRO ---------

.services {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  height: fit-content;

  .services-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    h3 {
      font-size: $fontsize * 2;
      margin: 0 auto;
      // text-shadow: 2px 2px 3px #1D6341;
      border-bottom: 2px solid lightgrey;
      // width: 100%;
    }

    p {
      font: $fontsize;
      text-align: center;
    }
  }

  .services-body {

    .service-cards {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      width: 100%;

      .card {
        width: 300px;
        margin-right: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        i {
          font-size: $fontsize * 3;
          color: #1D6341;
        }

        h3 {
          text-align: center;
        }
      }
    }
  }
}

.team {
  background: $greentext;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 20px 0;

  h2 {
    color: white;
    font-size: 50px;
    padding-bottom: 0;
    margin: 0;
  }

  .member-list {
    width: 80%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;

    .team-member {
      width: 100%;
      // height: 100%;
      border: 5px solid $lgray;
      // margin-bottom: 20px;
      display: flex;
      align-items: center;
      background: white;
      border-radius: 5px;

      .photo {
        width: 200px;
        height: 200px;
        // background: grey;
        margin: 20px 0 20px 20px;
        
        

        img {
          border-radius: 50%; 
          width: 100%;
          height: 100%;
        }
      }

      .info {
        width: 60%;
        margin: 20px;

        h3 {
          font-size: $fontsize * 1.5;
          margin: 0;
          padding-bottom: 5px;
          border-bottom: 2px solid lightgrey;
        }

        p {
          // margin: 0;
          font-size: $fontsize;
        }
      }
    }
  }
}

// ------------ FOOTER ---------------------

.footer {
  background: $darkblue;
  padding: 30px 0;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  // height: 2.5rem;

  .wrapper {
    width: 80%;
    margin: auto;

    .info {
      margin: 0;
      // text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 0;
      }


      a {
        // padding: 20px 0;
        margin-right: 10px;
        color: white;
        text-decoration: none;
        display: block;
        

        &:hover {
          text-decoration: underline;
        }
      }
    }

    
  }

}

// -------------RESOURCES---------------

.resources {
  height: 100%;
  padding-top: 80px;
  width: 80%;
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fontsize * 2;
    // border-bottom: rgb(0, 42, 0) solid 1px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .links {
    a {
      color: $greentext;
      text-decoration: none;
      font-size: $fontsize;
      transition: all .2s;
      font-weight: bold;

      &:hover {
        
        text-decoration: underline;
        // font-size: $fontsize * 1.1;
      }
    }
    
    table {
      border: 1px solid lightgray;
      table-layout: auto;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      th {
        background: #f6f6f6;
        padding: .5rem;
        color: #323232;
        // height: 50px;
        text-align: left;
      }

      tr {

        td {
          border: 1px solid #2E5339;
          padding: .5rem;
          color: #323232;
          height: 50px;
        }
      }
    }
  }
}

// ---------- ABOUT-----

.about {
  padding-top: 80px;
  width: 80%;
  margin: auto;

  .header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

// ------- CONTACT ------

.contact_us {
  padding-top: 80px;
  width: 80%;
  margin: auto;

  h2, p {
    text-align: center;
  }

  form {
    // border: 1px solid black;

    .form-group {
      text-align: center;

      .form-control {
        width: 100%;
        height: 2.5rem;
        margin-bottom: 20px;
        font-size: $fontsize;
        border: 2px solid grey;
      }
    }

    .contact-form-btn {
      width: 100px;
      background: $greentext;
      font-size: $fontsize;
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
        width: 200px;
        font-size: $fontsize * 2;
      }
    }
  }
}