@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed',Arial, Helvetica, sans-serif;
}


.wrapper {
  min-height: 100vh;
  overflow: hidden;
  
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid red;
  position: fixed;
  z-index: 2;
  color: #F7FFF6;

  .logo {
    // border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      font-size: $fontsize * 1.5;
      color: #F7FFF6;
    }
  }

  .right-nav {
    width: 40%;
    display: flex;
    align-items: center;
    // border: 1px solid green;

    .nav-links {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      

      li {
        // margin: 20px;
        font-size: $fontsize;
        
        a {
          text-decoration: none;
          color: #F7FFF6;
        }
      }
    }
  }
}

.main {
  min-height: 100vh;


  .intro {
    background: #1D6341;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-height: 800px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;

    .intro-background {
      background-image: url('./../images/checkingspreadsheet.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: .2;
      position: absolute;
      left: 0;
      top: 0;
    }

    .intro-group {
      text-align: center;
      position: relative;
      max-width: 600px;
      z-index: 1;
      color: white;

      .intro-logo {
        font-size: $fontsize * 2;
        margin: 0;
        position: relative;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        line-height: .85;
        // height: 300px;
        
        span {
          text-transform: uppercase;
        }
        
        .logo-big-parts {
          font-size: $fontsize * 5;
        }
      }

      p {
        font-size: $fontsize;
      }
    }
  }
}